# Node modules
node_modules/
client/node_modules/

# Cache
client/node_modules/.cache/

# Environment variables
server/.env

# Build / dist
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Product assets (nếu muốn tránh commit file media lớn)
client/src/assets/product/
